<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="max-w-md mx-auto mt-10 p-6 bg-white rounded shadow-md">
      <h2 class="text-2xl font-bold text-gray-800 mb-6">Register</h2>
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="mb-2">
          <label for="username" class="block text-gray-700 font-medium"
            >Username</label
          >
          <input
            type="text"
            class="mt-2 w-full p-2 border rounded"
            name="username"
            id="username"
            aria-label="Username"
            aria-required="true"
          />
        </div>
        <div class="mb-2">
          <label for="email" class="block text-gray-700 font-medium"
            >Email</label
          >
          <input
            type="email"
            class="mt-2 w-full p-2 border rounded"
            name="email"
            id="email"
            aria-label="Email"
            aria-required="true"
          />
        </div>
        <div class="mb-2" class="block text-gray-700 font-medium">
          <label for="password">Password</label>
          <input
            type="password"
            class="mt-2 w-full p-2 border rounded"
            name="password"
            id="password"
            aria-label="Password"
            aria-required="true"
          />
        </div>
        <div class="mb-2">
          <label for="password" class="block text-gray-700 font-medium"
            >Confirm Password</label
          >
          <input
            type="password"
            class="mt-2 w-full p-2 border rounded"
            name="confirm_password"
            id="confirm_password"
            aria-label="Confirm Password"
            aria-required="true"
          />
        </div>
        <input type="submit" class="rounded w-full py-2 px-4" value="Sign in" />
      </form>
      <p class="text-center text-sm text-gray-800 mt-4">
        Already have an account?
        <a href="{% url 'login' %}" class="hover:underline">Login</a>
      </p>
    </div>
  </body>
</html>
