{% extends "blogs/base.html" %}
{% block title %} {{ post.title }} {% endblock title %}
{% block contents %}
<div class="max-w-md mx-auto px-4 py-4 mt-20 bg-white shadow-md rounded-md">

    {% if messages %}
    <div class="container mx-auto">
        {% for message in messages %}
        <div class="{% if message.tags == 'success' %} bg-green-100 text-green-800 border-green-300 {% elif message.tags == 'error'%} bg-red-100 text-red-800 border-red-300 {% else %} bg-gray-100 text-gray-800 border-gray-300 {% endif %} border-l-4 p-4 mb-5 rounded"
            role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <h2 class="text-2xl font-bold text-green-800">Create Post</h2>
    <form method="post" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}

        {{ form.as_div }}

        <button type="submit"
            class="w-full bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 focus:ring-green-300">
            Update Post
        </button>
    </form>
    <div class="text-center mt-4">
        <a href="{% url 'home' %}" class="text-green-600 hover:underline">Back to Home</a>
    </div>
</div>


{% endblock contents %}