{% extends 'blogs/base.html' %}
{% block contents %}
<div class="mx-auto max-w-md px-3 py-6 bg-white shadow-lg rounded-md mt-20">
  <h1 class="text-2xl text-gray-800 font-medium mb-5">Edit Comment</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-2">

      {{ form.content }}

      {% if form.content.errors %}
      <p class="text-sm text-red-600 mt-2">{{ form.content.errors.0 }}</p>
      {% endif %}
    </div>
    <button type="submit" class="px-4 py-2 bg-green-500 hover:bg-green-600 rounded text-white focus:ring-green-300">
      Edit Comment
    </button>
  </form>
</div>
{% endblock contents %}