{% extends "blogs/base.html" %}
{% block title %}{{ post.title }}{% endblock title %}
{% block contents %}
<article class="max-w-2xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-20">
    <div class="text-end mb-2">
        <a href="{% url 'edit_detail' post.id %}"
            class="bg-green-500 text-white font-bold py-2 px-2 hover:bg-green-600 rounded shadow-md">Edit</a>
    </div>
    <img src="../../../images/vlcsnap-2023-09-29-13h50m07s644.png" alt="" srcset="">

    {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="object-cover w-full mb-4">
    {% endif %}

    <h1 class="text-3xl font-bold text-gray-800 mb-2">{{ post.title }}</h1>
    <a href="#"
        class="inline bg-green-500 rounded-md text-white text-sm font-bold px-2 py-1 text-center hover:bg-green-600">
        {{post.category }}
    </a>
    <p class="text-gray-600 mb-4 mt-2 text-sm">Published: {{ post.created_at }}</p>
    <div class="prose prose-lg text-gray-800">
        {{ post.content|safe }}
    </div>
    <hr class="mt-5">
    <div class="mt-2">

        <h2 class="text-xl text-gray-800 mb-4 font-bold">Comments</h2>
        {% for comment in comments %}
        <div class="border-b border-gray-200 bg-gray-100 px-2 py-2 mb-1 w-[200px] rounded-lg">
            <p class="text-gray-800 font-medium">{{ comment.author }}</p>
            <div class=" flex items-center justify-between">
                <p class="text-gray-700">{{ comment.content }}</p>
            </div>
        </div>
        <p class="text-gray-600 text-xs px-1 mb-4">{{ comment.created_at }}</p>
        {% endfor %}

        <hr class="mt-5 mb-2">

        <form method="post">
            {% csrf_token %}

            <div class="mb-2">
                <textarea name="content" aria-label="content" id="id_content"
                    class="w-full border px-4 py-2"></textarea>
                {% if form.content.errors %}
                <p class="text-sm text-red-600 mt-2">{{ form.content.errors.0 }}</p>
                {% endif %}
            </div>

            <button type="submit" class="px-4 py-2 bg-green-500 hover:bg-green-600 rounded text-white" required
                aria-invalid="true" spellcheck="false">Add
                Comment</button>
        </form>
    </div>

    <div class="text-center mt-6">
        <a href="{% url 'home' %}" class="text-green-600 hover:underline">Back to Blog</a>
    </div>
</article>
{% endblock contents %}